*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 576px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Proxima Nova", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: #04121f;
  color: #8da5b9; }

.icon--big {
  font-size: 4.5rem; }

.icon--medium {
  font-size: 3rem; }

.btn {
  border-radius: 0;
  border-width: 2px;
  padding: 1.2rem 2.6rem;
  text-transform: uppercase; }
  .btn--orange {
    border-color: #d6ac22;
    color: #d6ac22; }
    .btn--orange:hover, .btn--orange:focus, .btn--orange:active {
      background-color: #d6ac22;
      color: #fff; }
  .btn--navy {
    border-color: #04121f;
    color: #04121f; }
    .btn--navy:hover, .btn--navy:focus, .btn--navy:active {
      background-color: #04121f;
      color: #fff; }
  .btn--blue {
    border-color: #01bafd;
    color: #01bafd; }
    .btn--blue:hover, .btn--blue:focus, .btn--blue:active {
      background-color: #01bafd;
      color: #fff; }
  .btn--small {
    padding: 1rem;
    font-size: 1rem;
    border-width: 1px; }

.heading-primary {
  text-transform: uppercase;
  font-size: 5rem;
  color: #dde6ed; }

.heading-secondary {
  text-transform: uppercase;
  font-size: 4rem;
  color: #dde6ed; }

.heading-third {
  text-transform: uppercase;
  font-size: 3rem;
  color: #dde6ed; }

.heading-fourth {
  font-size: 2.2rem;
  color: #dde6ed; }

.heading-fifth {
  font-size: 1.8rem;
  color: #dde6ed; }

.section-box {
  padding: 6rem 0;
  background-color: #04121f; }

.timeline .cntl-bar {
  width: 0.5rem; }

.timeline .cntl-bar-fill {
  background-color: #01bafd; }

.timeline .cntl-icon {
  border: 2px solid #01bafd;
  background-color: #162836; }

.timeline .cntl-content {
  background-color: inherit;
  border-bottom: 3px solid #01bafd; }
  .timeline .cntl-content h4 {
    font-weight: 700; }

.work-list {
  list-style: none;
  padding: 0; }
  .work-list li {
    padding-left: 1.3rem; }
    .work-list li:before {
      color: #dde6ed;
      content: "\f271";
      font-family: Ionicons;
      display: inline-block;
      margin-left: -1.3em;
      width: 1.3em; }

.fat-nav {
  background-color: rgba(4, 18, 31, 0.8); }
  .fat-nav ul li a {
    color: #dde6ed; }
    .fat-nav ul li a:hover, .fat-nav ul li a:focus, .fat-nav ul li a:active, .fat-nav ul li a.active {
      color: #d6ac22; }

.hamburger {
  top: 2.5rem;
  right: 2.5rem;
  left: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 21px 8px; }
  .hamburger__icon {
    width: 30px;
    height: 3px;
    background-color: #dde6ed;
    margin-top: 0;
    margin-bottom: 0; }
    .hamburger__icon:before, .hamburger__icon:after {
      width: 30px;
      height: 3px;
      background-color: #dde6ed;
      margin-top: 0;
      margin-bottom: 0; }

.header {
  border: none;
  position: relative;
  height: 100vh;
  color: #dde6ed; }
  .header__video-container, .header__video-filter, .header__content-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .header__video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .header__video-filter {
    z-index: 2;
    background: rgba(4, 18, 31, 0.6);
    background: -webkit-linear-gradient(to right, rgba(22, 40, 54, 0.6), rgba(4, 18, 31, 0.7));
    background: linear-gradient(to right, rgba(22, 40, 54, 0.6), rgba(4, 18, 31, 0.7)); }
  .header__content-box {
    z-index: 3;
    display: table; }
    .header__content-box__inner {
      display: table-cell;
      vertical-align: middle; }
  .header__description {
    max-width: 70rem;
    margin: 0 auto; }

.expertise__img-wrapper {
  position: relative;
  max-width: 30rem;
  margin: 4rem auto 0; }

.expertise__img-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #01bafd;
  transform: translate(2rem, -2rem); }

.expertise__icon-wrapper {
  width: 6rem;
  line-height: 6rem;
  background-color: #dde6ed;
  color: #577285;
  border-radius: 50%;
  transition: 0.4s ease; }
  .expertise__icon-wrapper:hover, .expertise__icon-wrapper:focus {
    background-color: #01bafd;
    color: #dde6ed;
    transform: translateY(-1rem); }

.expertise__icon {
  vertical-align: middle; }

.skills__wrapper .progressbar {
  max-width: 50rem; }

.skills__tag-cloud ul li a {
  text-decoration: none;
  color: #dde6ed;
  font-size: 3rem; }
  .skills__tag-cloud ul li a:hover, .skills__tag-cloud ul li a:focus {
    color: #d6ac22; }

.certificates__icon-wrapper {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  border: 2px solid #01bafd; }

.certificates__content-box {
  display: inline-block; }
  .certificates__content-box h6 {
    text-transform: uppercase;
    font-size: 1.8rem; }
    .certificates__content-box h6 a {
      text-decoration: none;
      color: #01bafd; }
      .certificates__content-box h6 a:hover, .certificates__content-box h6 a:focus, .certificates__content-box h6 a:active {
        color: #d6ac22; }
