@mixin bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin box-shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@mixin button($color-normal: $color_light_blue, $color-hover: $color_white) {
  border-radius: 10rem;
  background-color: $color-normal;
  color: $color-hover;

  &:hover, &:focus, &:active {
    color: $color-hover;
    @include box-shadow;
  }
}

@mixin hamburger-menu {
  width: 30px;
  height: 3px;
  background-color: $color_light_gray;
  margin-top: 0;
  margin-bottom: 0;
}