//Fonts
$font_default_regular: 'Raleway';

//Sizes
$size_default_font: 1.6rem;
$size_heading_1: 5rem;
$size_heading_2: 4rem;
$size_heading_3: 3rem;
$size_heading_4: 2.2rem;
$size_heading_5: 1.8rem;

//Colors
$color_navy_blue: #04121f;
$color_light_blue: #01bafd;
$color_gray: #8da5b9;
$color_light_gray: #dde6ed;
$color_orange: #d6ac22;
$color_nav: #162836;
$color_nav_text: #8a8a8c;
$color_white: #fff;
$color_back: #000;