.heading-primary {
  &--main {
    font-size: $size_heading_1;
  }

  &--sub {
    font-size: 3.5rem;
  }
}

.heading-secondary {
  font-size: $size_heading_2;
  background: $color-primary-light;
  background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background: -webkit-linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-third {
  font-size: $size_heading_3;
}

.heading-fourth {
  font-size: $size_heading_4;
}

.heading-fifth {
  font-size: $size_heading_5;
}