.heading-primary {
  text-transform: uppercase;
  font-size: $size_heading_1;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: $size_heading_2;
}

.heading-third {
  font-size: $size_heading_3;
}

.heading-fourth {
  font-size: $size_heading_4;
}

.heading-fifth {
  font-size: $size_heading_5;
}