.social-list {
  list-style: none;

  li {
    display: inline-block;
    padding-right: 2rem;

    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: $color_green;

      &:hover, &:focus, &:active {
        color: $color-light_blue;
      }
    }
  }
}