.timeline {

  .cntl-bar {
    width: 0.5rem;
    box-shadow: none;

    @media (max-width: 600px) {
      right: 28px;
    }
  }

  .cntl-bar-fill {
    background-color: $color_green;
  }

  .cntl-icon {
    border: 2px solid $color_white;
    background-color: $color_green;
    @include box-shadow;

    @media (max-width: 600px) {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }

  .cntl-content {
    background-color: inherit;
    border-bottom: 3px solid $color_green;

    h4 {
      font-weight: 500;
    }
  }
}