.timeline {

  .cntl-bar {
    width: 0.5rem;
    box-shadow: none;
  }

  .cntl-bar-fill {
    background-color: $color_green;
  }

  .cntl-icon {
    border: 2px solid $color_white;
    background-color: $color_green;
    @include box-shadow;
  }

  .cntl-content {
    background-color: inherit;
    border-bottom: 3px solid $color_green;

    h4 {
      font-weight: 500;
    }
  }
}