.certificates {
  &__list {

  }

  &__list-item {

  }

  &__icon-wrapper {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    border: 2px solid $color_green;
    color: $color_green;
  }

  &__content-box {
    display: inline-block;

    h6 {

      a {
        font-size: $size_heading_5;
        display: inline-block;
        text-decoration: none;
        color: $color_gray;
        transition: 0.4s ease;

        &:hover, &:focus, &:active {
          color: $color_green;
          transform: scale(1.05);
        }

        @media (max-width: 991px) {
          font-size: 1.6rem;
        }
      }
    }
  }

  .language__img {
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
  }
}