.contact {

  &.section-box {
    background-color: #f7f7f7;
  }

  &__question, &__email {
    &::after {
      display: block;
      height: 0.2rem;
      background-color: $color_green;
      content: ' ';
      width: 10rem;
      margin: 1.5rem auto;
    }
  }

  &__icon {
    font-size: 12rem;
    color: $color_green;
  }
}