.skills {
  &__wrapper {
    .progressbar {
      max-width: 50rem;
    }
  }

  &__tag-cloud {
    ul {
      li {
        a {
          text-decoration: none;
          color: $color_light_gray;
          font-size: $size_heading_3;

          &:hover, &:focus {
            color: $color-orange;
          }
        }
      }
    }
  }
}