.skills {
  &__wrapper {
    .progress {
      width: 80%;
      border-radius: 5px;

      .progress-bar {
        width: 80%;
        border-radius: 5px;
        background-color: $color_green;
      }
    }
  }

  &__tag-cloud {
    ul {
      li {
        a {
          text-decoration: none;
          color: $color_green;
          font-size: $size_heading_3;

          &:hover, &:focus {
            color: $color_light_blue;
          }
        }
      }
    }
  }
}