.skills {
  &__wrapper {
    .progressbar {
      max-width: 50rem;
      border-radius: 5px !important;
      box-shadow: none;

      &.progress {
        border-radius: 5px !important;
        background-color: $color_green !important;
      }
    }
  }

  &__tag-cloud {
    ul {
      li {
        a {
          text-decoration: none;
          color: $color_green;
          font-size: $size_heading_3;

          &:hover, &:focus {
            color: $color_light_blue;
          }
        }
      }
    }
  }
}