.references {
  color: $color_light_gray;
  background-image: linear-gradient(
          rgba(20, 30, 48, 0.7),
          rgba(36, 59, 85, 0.7)
  ),
  url('../images/work-space.jpg');
  @include bg-parallax;

  &__quote {
    padding: 1rem;
    font-style: italic;
    position: relative;
    text-align: justify;

    :before {
      content: '\201C';
      font-size: 500%;
      display: block;
      position: absolute;
      top: -3rem;
      left: -2rem;
    }

    cite {
      font-size: 90%;
      font-style: normal;
      margin-top: 2.5rem;
      display: block;
    }

    img {
      margin-right: 1rem;
      vertical-align: middle;
      width: 6rem;
      height: auto;
    }
  }
}