.footer {
  background-color: #f7f7f7;
  border-top: 1px solid $color_green;
  vertical-align: middle;

  &.section-box {
    padding: 2rem 0 1rem;
  }

  @media (max-width: 575px) {
    text-align: center;
  }
}